.nav{
  margin-top: 30px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    li {
      margin: 0 30px;
      font-size: 25px;
      font-family: Roboto, sans-serif;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}
._liActive{
  background: crimson;
  color: white;
}
